main#MainAboutUs {
	h1 {
		text-align: center;
	}

	section a {
		display: flex;
		flex-direction: column;
		align-items: center;

		svg {
			font-size: 4rem;
			margin: 20px;
		}

		span {
			text-transform: uppercase;
		}
	}

	@media screen and (min-width: 800px) {
		display: flex;
		justify-content: space-between;

		article,
		section {
			width: 45%;
		}

		section {
			align-self: center;
		}
	}
}
