nav#Nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		font-size: 2rem;

		@media screen and (min-width: 450px) {
			display: none;
		}
	}

	div {
		display: flex;

		@media screen and (max-width: 450px) {
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 100vh;
			width: 100%;
			background-color: green;
			flex-direction: column;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
